.host {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  --rotation: 135deg;
  --rotation: 225deg;
  --size-step: 10px;
  --odd-color-step: 5;
  --even-color-step: 5;
  --center: 12;
  width: 100%;
  height: 100vh;
  contain: strict;
  @apply md:scale-[2]
}

input {
  width: 100%;
}

.square {
  --size: calc(10px + var(--index) * var(--size-step));
  display: block;
  width: var(--size);
  height: var(--size);
  transform: rotateZ(calc(var(--rotation) * var(--state) * (var(--center) - var(--index))));
  transition-property: transform, border-color;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
  grid-area: 1 / 1;
  @apply bg-indigo-900/50 border-indigo-900/50;
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  will-change: transform, border-color;
  contain: strict;
}

.square.odd {
  --luminance: calc(1 - calc(calc(var(--index) * var(--odd-color-step)) / 256));
  background: rgb(
    calc(172 * var(--luminance)),
    calc(127 * var(--luminance)),
    calc(244 * var(--luminance))
  );
}

.pride .square:nth-child(12n + 1) {
  background: yellow;
}
.pride .square:nth-child(12n + 3) {
  background: yellow;
}
.pride .square:nth-child(12n + 5) {
  background: yellow;
}
.pride .square:nth-child(12n + 7) {
  background: yellow;
}
.pride .square:nth-child(12n + 9) {
  background: yellow;
}
.pride .square:nth-child(12n + 11) {
  background: yellow;
}
