/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */

body {
    @apply text-gray-900 min-h-screen flex flex-col;
}

main { 
    flex: 1;
}

.home section { 
    @apply min-h-screen relative grid place-content-center
}


